   .typewriter-cursor {
     display: inline-block;
     border-right: 2px solid orange;
     animation: blink 0.7s step-end infinite;
   }

   @keyframes blink {
     50% {
       border-color: transparent;
     }
   }

   /* for contact us section */
   .fade-in {
     opacity: 0;
     transform: translateY(20px);
     animation: fade-in 1s ease-in-out forwards;
   }

   @keyframes fade-in {
     to {
       opacity: 1;
       transform: translateY(0);
     }
   }

   /* for toast */

   .fade-in-toast {
     opacity: 0;
     transform: translateY(20px);
     animation: fade-in-toast 0.5s ease-in-out forwards;
   }

   @keyframes fade-in-toast {
     to {
       opacity: 1;
       transform: translateY(0);
     }
   }

   .fade-out-toast {
     animation: fade-out-toast 0.5s ease-in-out forwards;
   }

   @keyframes fade-out-toast {
     from {
       opacity: 1;
       transform: translateY(0);
     }

     to {
       opacity: 0;
       transform: translateY(20px);
     }
   }